.logout-div{
	display: none;
	position: fixed;
	transition: 0.5s;
	border: 1px solid #CCCCFF;
	top: 75px;
	width: 250px;
	background-color: #000;
	overflow : none;	
	right: 0px;
}

.logout-div a{
	padding: 10px 0px 10px 5px; 
}	

.logout-div:hover{
	background-color: #5DADE2;
	color: #fff;
	border:1px solid #2471A3; 
	border-radius:4px;	
}

.menu-label{
	display:block;
	height:20px;
	line-height:20px;
}	

.thislink{
	display: block;
	padding: 6px 0 4px 0;
	overflow: hidden;
	text-decoration: 0;
	line-height: 25px;
	color: #fff; /*#2874A6;*/
	white-space: nowrap;
	cursor:pointer;
	background-color: #000; /*#F7F9F9;*/
}