body{-moz-osx-font-smoothing:grayscale;font-smooth:auto;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;font-family:system-ui,-apple-system, BlinkMacSystemFont,Tahoma,"Segoe UI",
Roboto, Oxygen, Ubuntu, Cantarell,"Fira Sans","Droid Sans","Helvetica Neue";font-size:12px;line-height:1.5;height:100%;font-weight:400}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:Rajdhani,sans-serif;font-weight:normal;margin:10px 0}.w3-wide{letter-spacing:4px}
.style-table { border:0;padding:0;border-collapse:collapse;border-spacing:0;}
.style-table tr { border: 0;padding: 5px; }
.style-table th, .style-table td { padding: 5px;text-transform:uppercase}
.style-table td { border:1px solid #ccc; }
.style-table th { border:1px solid #ccc; }	